
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_SaveStudentResult.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Result
            <small>Save Student Result</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-----------------------------------------------------------------------------------Common &  Menu Section------------------------------------------------------------------------------->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-sm-offset-3 col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info box-form">
                    <div class="box-header with-border">
                        <h3 class="box-title">Save Student Result</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="POST" id="myForm1">
                        <input type="hidden" id="DepartmentId">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="Department" class="col-sm-2 control-label">Student ID: </label>
                                <div class="col-sm-10">
                                    <select class="form-control select2" id="RegNo" name="RegNo" onchange="getStudent();" style="width: 100%;">
                                        <option disabled selected>Select One</option>
                                        @foreach (var student in ViewBag.Students)
                                        {
                                            <option value="@student.Id">@student.RegNo</option>
                                        }
                                    </select>
                                </div>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Email" name="Email" placeholder="xxxxx@gmail.com" readonly="readonly">
                                    <div id="divStatus"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ContactNo" class="col-sm-2 control-label">Department: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Department" name="Department" readonly="readonly">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Course" class="col-sm-2 control-label">Select Course</label>
                                <div class="col-sm-10">
                                    <select class="form-control select2" id="Course" name="Course" style="width: 100%;">
                                        <option disabled selected>Select One</option>
                                    </select>
                                </div>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="Course" class="col-sm-2 control-label">Select Grade Letter</label>
                                <div class="col-sm-10">
                                    <select class="form-control select2" id="Grade" name="Grade" style="width: 100%;">
                                        <option disabled selected>Select One</option>
                                        @foreach (var grade in ViewBag.Grades)
                                        {
                                            <option value="@grade.Id">@grade.Name</option>
                                        }
                                    </select>
                                </div>
                            </div><!-- /.form-group -->

                            <div class="col-sm-2"></div>
                            <div class="col-sm-offset-2">

                                @if (ViewBag.Message != null)
                                {
                                    <div class="col-sm-offset-2 callout callout-success">
                                        <label type="text" id="Message">@ViewBag.Message</label>
                                    </div>
                                }
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="button" id="btn" class="btn btn-info pull-right">Save</button>
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
